{# carousel.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Carrousel 3D Menu{% endblock %}

{% block body %}
<div class="scene" id="scene">
  <div class="carousel" id="carousel">
    {% for menu in menus %}
      <div 
        class="carousel__cell" 
        style="
          transform: rotateY({{ (360 / total) * loop.index0 }}deg) translateZ({{ radius }}px);
          background-image: url('{{ vich_uploader_asset(menu, 'imageFile') }}');
        "
      >
        {{ menu.label }}
      </div>
    {% endfor %}
  </div>
</div>

<script>
  // Passage des variables Twig au JS globalement
  window.carouselData = {
    total: {{ total }},
    radius: {{ radius }},
    tiltX: {{ tiltX }},
    translateY: {{ translateY }}
  };
</script>
{% endblock %}
